<br>
<%= form_for @article do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, :placeholder => 'Title' %>
  </div>
  <div class="field" id="epiceditor_container">
    <%= f.text_area :body, placeholder: 'Content', style: 'width:500px;', id: 'epiceditor_textarea' %>
  </div>
  <div id="epiceditor">
  </div>
  <div class="field">
    <%= f.label :tag_list, "Tags (separated by commas)" %>
    <%= f.text_field :tag_list %>
  </div>
  <div class="actions">
    <%= f.submit 'Save', :class =>"btn btn-primary" %>
  </div>
<% end %>
