<% if notice.present? %>
  <div class="alert alert-info alert-dismissable"><%= notice %>
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
</div>
<% end %>
<ul class="articles-list">
  <% @articles.each do |article| %>
    <li class="article-list-item">
      <a href=<%= article_path(article) %> class="article-link">
        <p class="article-title"><%= article.title %></p>
        <span class="article-time muted"><%= article.created_at.in_time_zone('Singapore').strftime("%B %d at %I:%M %p") %></span>
      </a>
      <% if user_signed_in? %>
        <a href=<%= edit_article_path(article) %> class="article-list-edit">
          <span>Edit</span>
        </a>
      <% end %>
    </li>
  <% end %>
</ul>
