<div class="right-panel hidden-xs hidden-sm">
  <div class="<%= transparency_class %> right-panel__controls visible-lg visible-md">
    <ul class="right-panel__controls-list">
      <% if user_signed_in? %>
        <li> <%= link_to 'New Article', new_article_path %> </li>
        <li> <%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
      <% else %>
        <li> <%= link_to('Login', new_user_session_path) %> </li>
      <% end %>
    </ul>
  </div>
  <div class="tagcloud hidden-sm hidden-xs <%= transparency_class %>">
    <p class="tagcloud__header">TAG CLOUD</p>
    <% tag_cloud Article.tag_counts, %w{s m l} do |tag, css_class| %>
      <%= link_to tag.name, 
        tag_path(tag.name), class: css_class %>
    <%end%>
  </div>
  <div class="<%= transparency_class %>">
    <p class="right-panel__headers">OTHERS</p>
    <ul class="right-panel__projects-list">
      <li><a href="http://ucsc-nsl.herokuapp.com">UCSC Squash Feeds</a></li>
      <li><a href="https://github.com/aranair/turbolinks_animations">turbolink_animations</a></li>
      <li><a href="http://snippy.meteor.com">Snippy (on Meteor)</a></li>
      <li><a href="http://snippy-homan.herokuapp.com">Snippy (on Heroku)</a></li>
      <li><a href="http://ajensha.biz">Ajensha Consulting</a></li>
    </ul>
  </div>
  <div class="<%= transparency_class %> right-panel__line-chart">
    <%= line_chart Article.group_by_month(:created_at).count %>
  </div>
</div>
